.welcome {
    text-align: center;
    font-size: 3em;
    font-weight: bold;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .welcome h1 {
    animation: rainbow 10s linear infinite;
  }
  
  @keyframes rainbow {
    0% {
      color: red;
    }
    16.67% {
      color: orange;
    }
    33.33% {
      color: yellow;
    }
    50% {
      color: green;
    }
    66.67% {
      color: blue;
    }
    83.33% {
      color: indigo;
    }
    100% {
      color: violet;
    }
  }
  